.background-wrapper {
    width: 100vw;
    height: 101vh;
    background: url("./action-beach-carribean-240513.jpg") no-repeat fixed center;
}

.is-height {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}