/* Water Feature Title */
#featureHeader {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Fix Map To Right On Large Screens */
@media only screen and (min-width : 768px) {
    
    #mapMediaQuery {
        height: 99%;
        width: calc(100% - 400px);
        position: fixed;
        z-index: 1;
        padding-top: 1%;
        top:0;
        right: 0;
        overflow: hidden;
    }

    #contentMediaQuery {
        width: 400px;
        left: 0;
    }
}